.my-link{
    color: black!important;
    transition: 0.3s;
    text-decoration: none!important;
}
.my-link:hover{
    color: #fb5c42!important;
    transition: 0.3s;
}
.btn-contact-us-page{
    color: #fb5c42!important;
    background-color: white;
    transition: 0.4s;
}
.btn-contact-us-page:hover{
	background-color: #fb5c42;
	transition: 0.4s;
	color: white!important;
}