.footer-up{
	background-color: #f8f8f2;
	padding-top: 50px;
	padding-bottom: 50px;
	box-shadow: 0px 0px 28px -15px rgba(0,0,0,0.2);
}
.item-footer{
	min-height: 100px;
	width: 100%;
	margin: auto;
	font-size: 18px;
	
}

.segment-two-footer .items-footer .mail-footer{
	border-top-left-radius: 40px; 
	border-bottom-left-radius: 40px;

}
.items-footer h2{
	font-weight: bolder;
	}
.btn-footer{
	border-top-right-radius: 40px; 
	border-bottom-right-radius: 40px;
	color: black!important;
	border-color: #ced4da!important;
}
.btn-footer:hover{
	background-color: #fb5c42;
	transition: 0.4s;
	color: white!important;
}
.footer-nav a{
	color:black!important;
}
.footer-nav a span:hover{
	color: #fb5c42!important;
	transition: 0.4s;
}
@media (min-width: 300px) and (max-width: 1199.98px) { 
	.items-footer{
		text-align: center;
	}
	
}


